@model Model.EF.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Thêm tin mới</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            Tiêu đề
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.vnew_title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vnew_title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Nội dung
                            <div class="col-md-10">
                                <textarea class="form-control" id="editor" name="vnew_content"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            Lượt xem
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.vnew_view, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vnew_view, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Trạng thái
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <select name="vnew_active" class="form-control">
                                        <option value="true">Hoạt động</option>
                                        <option value="false">Ngừng hoạt động</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            Tùy chọn
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <select name="vnew_option" class="form-control">
                                        <option value="true">tùy chọn 1</option>
                                        <option value="false">tùy chọn 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            Người đăng
                            <div class="col-md-10">
                                @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Ghi chú
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.vnews_des, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vnews_des, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            Ảnh
                            <div class="col-md-10">
                                <input type="file" name="#" class="form-control"/>
                                @Html.EditorFor(model => model.vnew_img, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vnew_img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đăng bài" class="btn btn-success w-100 " />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>