@model IEnumerable<Model.EF.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            <br />
            <a class="btn btn-danger mt-3" style="font-size: 12px" href="/Admin/NewsAdmin/Create">Thêm tin tức</a>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table m-3">
                    <tr>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Lượt xem
                        </th>
                        <th>
                            Hoạt động
                        </th>
                        <th>
                            Tùy chọn
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.vnew_title)
                            </td>
                            
                            <td>
                                <img src="~/Images/News/@Html.DisplayFor(modelItem => item.vnew_img)" style="width: 100px; height"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vnew_view)
                            </td>
                            <td>
                                @if (item.vnew_active == true)
                                {
                                    @:Hoạt động
                                }
                                else
                                {
                                    @:Ngừng hoạt động
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vnew_option)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.vnew_id }) |
                                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.vnew_id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.vnew_id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

