@using Model.EF;
@model News
@{
    VnnewsNews.Function.FunctionsController function = new VnnewsNews.Function.FunctionsController();
    DBvnewsEntities db = new DBvnewsEntities();
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countads = 0;
    var index = 1;
    List<Ad> ads = db.Ads.Where(t => t.ads_active == true && t.ads_option == true && t.ads_totalday > 0).OrderBy(t => t.ads_loop).ToList();
}
<style>
    .top-container {
        display: flex;
        align-items: center
    }

    .profile-image {
        border-radius: 10px;
        border: 2px solid #5957f9
    }

    .name {
        font-size: 15px;
        font-weight: bold;
        color: #272727;
        position: relative;
        top: 8px
    }

    .mail {
        font-size: 14px;
        color: grey;
        position: relative;
        top: 2px
    }

    .middle-container {
        background-color: #eee;
        border-radius: 12px
    }

        .middle-container:hover {
            border: 1px solid #5957f9
        }

    .dollar-div {
        background-color: #5957f9;
        padding: 12px;
        border-radius: 10px
    }

    .round-div {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .dollar {
        font-size: 16px !important;
        color: #5957f9 !important;
        font-weight: bold !important
    }

    .current-balance {
        font-size: 15px;
        color: #272727;
        font-weight: bold
    }

    .amount {
        color: #5957f9;
        font-size: 16px;
        font-weight: bold
    }

    .dollar-sign {
        font-size: 16px;
        color: #272727;
        font-weight: bold
    }

    .recent-border {
        border-left: 2px solid #5957f9;
        display: flex;
        align-items: center
    }

        .recent-border:hover {
            border-bottom: 1px solid #dee2e6 !important
        }

    .recent-orders {
        font-size: 16px;
        font-weight: 700;
        color: #5957f9;
        margin-left: 2px
    }

    .wishlist {
        font-size: 16px;
        font-weight: 700;
        color: #272727
    }

    .wishlist-border:hover {
        border-bottom: 1px solid #dee2e6 !important
    }

    .fashion-studio {
        font-size: 16px;
        font-weight: 700;
        color: #272727
    }

    .fashion-studio-border:hover {
        border-bottom: 1px solid #dee2e6 !important
    }
</style>
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="index.html">Home</a> / Categories /<span class="breadcrumb_last" aria-current="page">Culture</span>
    </div>

    <div>
        @foreach (var item in ads.ToList())
        {
            if(item.ads_tags == null)
            {
                continue;
            }
            var tags = item.ads_tags.Split(';');
            foreach (var tag in tags)
            {
                if (countads == 10)
                {
                    break;
                }
                else if (Model.vnew_title.ToLower().Contains(tag.ToLower()) && Model.vnew_content.ToLower().Contains(tag.ToLower()))
                {
                    <img src="~/Images/Ads/@item.ads_poster" alt="@item.ads_title"/>
                    db.Ads.Find(item.ads_id).ads_loop++;
                    db.SaveChanges();
                    countads++;
                    ads.Remove(item);
                    break;
                }
            }
        }

        @foreach (var item in ads.ToList())
        {

            if (countads == 10)
            {
                break;
            }
            else
            {
                <img src="~/Images/Ads/@item.ads_poster" alt="@item.ads_title"/>
                db.Ads.Find(item.ads_id).ads_loop++;
                db.SaveChanges();
                countads++;
                ads.Remove(item);
            }
        }
    </div>
</nav>
<div class="w3l-searchblock w3l-homeblock1 py-5" ng-app="myApp">
    <div class="container py-lg-4 py-md-3">
        <!-- block -->
        <div class="row">
            <div class="col-lg-9 most-recent">
                <h3 class="section-title-left">@Model.vnew_title</h3>

                <div class="row">
                    <div class="col-md-12 item">
                        <div class="card">
                            <div class="card-header p-0 position-relative">
                                <a href="#blog-single">
                                    <img class="card-img-bottom d-block radius-image" src="~/Images/News/@Model.vnew_img" alt="Card image cap">
                                </a>
                            </div>
                            <style>
                                .fiz img {
                                    width: 100%;
                                }
                            </style>
                            <div class="card-body p-0 blog-details">
                                <div class="alert alert-danger mt-3">
                                    @Model.vnews_des
                                </div>
                                <div class="mt-3 fiz">
                                    <p class="">
                                        @Html.Raw(Model.vnew_content)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .card {
                            background-color: #fff;
                            border: none
                        }

                        .form-color {
                            background-color: #fafafa
                        }

                        .form-control {
                            height: 48px;
                            border-radius: 25px
                        }

                            .form-control:focus {
                                color: #495057;
                                background-color: #fff;
                                border-color: #35b69f;
                                outline: 0;
                                box-shadow: none;
                                text-indent: 10px
                            }

                        .c-badge {
                            background-color: #35b69f;
                            color: white;
                            height: 20px;
                            font-size: 11px;
                            width: 92px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 2px
                        }

                        .comment-text {
                            font-size: 13px
                        }

                        .wish {
                            color: #35b69f
                        }

                        .user-feed {
                            font-size: 14px;
                            margin-top: 12px
                        }
                    </style>
                    <!-- //pagination -->
                    <div class="row height d-flex justify-content-center align-items-center" ng-controller="myComment">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="p-3">
                                    <h6>Bình luận ({{countcomment}})</h6>
                                </div>
                                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2"> <input name="content" type="text" ng-model="content" class="form-control" placeholder="Enter your comment..." id="content"> </div>
                                <button style="display: none" id="myBtn" ng-click="create(@Model.vnew_id)">gui</button>
                                <div class="mt-2">
                                    <div class="d-flex flex-row p-3" ng-repeat="com in com">
                                        <img src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40" class="rounded-circle mr-3">
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">{{com.name}}</span> <small class="c-badge">Top Comment</small> </div> <small>{{com.comment_datecreate}}</small>
                                            </div>
                                            <p class="text-justify comment-text mb-0">{{com.content}}</p>
                                            <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mr-2"></i>24</span> <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single">
                                        <img class="card-img-bottom d-block radius-image" src="~/Content/Layout/images/p1.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body p-0 blog-details">
                                    <a href="#blog-single" class="blog-desc">
                                        How to Start a Blog and make money every Month from it
                                    </a>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        vitae sit.
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                    </div>
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> April 13, 2020 </span>
                                        </li>
                                        <li class="meta-item blog-students">
                                            <span class="meta-value"> 6min read</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single">
                                        <img class="card-img-bottom d-block radius-image" src="~/Content/Layout/images/p4.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body p-0 blog-details">
                                    <a href="#blog-single" class="blog-desc">
                                        What’s better than following your passion and making income
                                    </a>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        vitae sit.
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                    </div>
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> April 13, 2020 </span>
                                        </li>
                                        <li class="meta-item blog-students">
                                            <span class="meta-value"> 6min read</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single">
                                        <img class="card-img-bottom d-block radius-image" src="~/Content/Layout/images/p3.jpg" alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body p-0 blog-details">
                                    <a href="#blog-single" class="blog-desc">
                                        Without further delay, let’s learn how you can start a blog today.
                                    </a>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        vitae sit.
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                    </div>
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> April 13, 2020 </span>
                                        </li>
                                        <li class="meta-item blog-students">
                                            <span class="meta-value"> 6min read</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 item mt-5 pt-lg-3">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="#blog-single">
                                        <img class="card-img-bottom d-block radius-image" src="~/Content/Layout/images/p7.jpg"
                                             alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body p-0 blog-details">
                                    <a href="#blog-single" class="blog-desc">
                                        Either way, Blogging could help you achieve your goal.
                                    </a>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit. Qui eligendi
                                        vitae sit.
                                    </p>
                                    <div class="author align-items-center mt-3 mb-1">
                                        <a href="#author">Johnson smith</a> in <a href="#url">Design</a>
                                    </div>
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value"> April 13, 2020 </span>
                                        </li>
                                        <li class="meta-item blog-students">
                                            <span class="meta-value"> 6min read</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div class="pagination-wrapper mt-5">
                        <ul class="page-pagination">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#url">2</a></li>
                            <li><a class="page-numbers" href="#url">3</a></li>
                            <li><a class="page-numbers" href="#url">4</a></li>
                            <li><a class="page-numbers" href="#url">....</a></li>
                            <li><a class="page-numbers" href="#url">15</a></li>
                            <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-lg-3 trending mt-lg-0 mt-5 mb-lg-5">
                <div class="pos-sticky">
                    <div class="card mt-3">
                        <h4><b>Tác giả</b></h4>
                    </div>
                    <div class="card mt-1">
                        <div class="top-container">
                            <div class="row" style="font-size: 20px !important">
                                <div class="col-lg-4">
                                    <img src="@Model.User.user_image" class="img-fluid profile-image" style="width: 100%; height: 60px">
                                </div>
                                <div class="col-lg-8">
                                    <h5 class="name text-danger">@Model.User.user_name</h5>
                                    <p class="mail"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3" ng-controller="myFavourite">
                        @if (function.CookieID() != null)
                        {
                            <button ng-show="listfavourite.length == 0" class="btn btn-danger w-100" ng-click="favourite(@(Model.vnew_id))"><i class=""></i><i class="fa fa-thumbs-up">&nbsp;</i>Thích</button>
                            <button ng-show="listfavourite.length != 0 " class="btn btn-dark w-100" ng-click="favourite(@(Model.vnew_id))"><i class=""></i><i class="fa fa-thumbs-up">&nbsp;</i>Hủy Thích</button>
                        }
                        else
                        {
                            <button class="btn btn-primary w-100 mt-1" onclick="window.location.href='/'"><i class=""></i><i class="fa fa-heart">&nbsp;</i>Lưu tin</button>
                        }
                    </div>

                    @foreach (var item in db.News.Where(t => t.vnew_active == true && t.vnew_option == true).OrderByDescending(t => t.vnew_view).ThenBy(t => t.vnew_datecreate).Take(5))
                    {
                        <div class="grids5-info mt-3">
                            <h4>@index</h4>
                            <div class="blog-info">
                                <a href="#blog-single" class="blog-desc1">
                                    @(item.vnew_title.Length > 35 ? item.vnew_title.Substring(0, 35) + "..." : item.vnew_title)
                                </a>
                                <div class="author align-items-center mt-2 mb-1">
                                    <a href="#author">@item.User.user_name</a> in <a href="#url">Design</a>
                                </div>
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> @(item.vnew_dateupdate == null ? item.vnew_datecreate : item.vnew_dateupdate) </span>
                                    </li>
                                    <li class="meta-item blog-students">
                                        <span class="meta-value"> 6min read</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        index++;
                    }
                </div>
            </div>
            <!-- //block-->
            <!-- ad block -->
            <div class="ad-block text-center mt-5">
                <a href="#url"><img src="~/Content/Layout/images/ad.gif" class="img-fluid" alt="ad image" /></a>
            </div>
            <!-- //ad block -->
        </div>
    </div>
</div>

<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myComment', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/IndexComment?id=@Model.vnew_id"
        }).then(function mySuccess(response) {
            $scope.com = response.data;
            $scope.countcomment = $scope.com.length;

            $scope.create = function (id) {
                var content = document.getElementsByName("content")[0].value;

                $http({
                    method: "GET",
                    url: "/News/CreateComment?content=" + content
                    + "&id="+id
                }).then(function mySuccess(response) {
                    $scope.com = response.data;
                    $scope.countcomment = $scope.com.length;
                }, function myError(response) {
                    $scope.com = response.statusText;
                });

                document.getElementsByName("content")[0].value = "";
            }
        }, function myError(response) {
            $scope.com = response.statusText;
        });

    });
    app.controller('myFavourite', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/Json/favourite?id=" + @Model.vnew_id,
            }).then(function mySuccess(response) {
                $scope.listfavourite = response.data;
            });

                $scope.favourite = function (new_id) {
                    $http({
                        method: "GET",
                        url: "/News/Favourite?new_id=" + new_id
                    }).then(function mySuccess(response) {
                        $scope.listfavourite = response.data;
                    });
        }
    });
</script>
<script>
    var input = document.getElementById("content");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    });
</script>