@model IEnumerable<Model.EF.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            <br />
            @Html.ActionLink("Thêm", "Create")
            
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            Tên danh mục
                        </th>
                        <th>
                            Lượt xem
                        </th>
                        <th>
                            Hoạt động
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.category_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category_view)
                            </td>
                            <td>
                                @if (item.category_active == true)
                                {
                                    @:Hoạt động
                                }
                                else
                                {
                                    @:Ngưng hoạt động
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category_datecreate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.category_id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.category_id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.category_id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>

