@model Model.EF.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.news_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.news_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.group_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
