@model Model.EF.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<div>
    <div style="padding: 20px">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            <div id="login-box" style=" height: 1200px; width: 1000px">
                <div class="w-100" style="padding: 40px">
                    <h1 class="text-dark">Soạn thảo tin tức</h1>

                    <div>
                        <label>Tiều đề</label>
                        <input class="field w-100" type="text" name="vnew_title" placeholder="Tiêu đề không vượt quá 50 ký tự" />
                    </div>

                    <label>Nội dung</label>
                    <textarea id="editor"></textarea>
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#editor'))
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                    <br />
                    <label>Link facebook cá nhân</label>
                    <input class="field w-100" type="text" name="editor_fb" placeholder="Link" />

                    <br />
                    <label>Số điện thoại liên hệ</label>
                    <input class="field w-100" type="text" name="editor_phone" placeholder="Số điện thoại" />

                    <br />
                    <label>Số điện thoại zalo</label>
                    <input class="field w-100" type="text" name="editor_zalo" placeholder="Số điện thoại" />

                    <br />
                    <label>Thời gian rảnh</label>
                    <input class="field w-100" type="text" name="editor_time" placeholder="Thời gian rảnh" />

                    <br />
                    <label>Giới thiệu bản thân</label>
                    <textarea class="form-control" name="editor_intro"></textarea>



                    <br />
                    <label>Sở thích</label>
                    <textarea class="form-control" name="editor_interests"></textarea>


                    <br />
                    <label>Khả năng làm được</label>
                    <textarea class="form-control" name="editor_enthusiasm"></textarea>




                    <input type="submit" class="submit" name="signup_submit" value="Gửi đơn" />
                </div>
            </div>









            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.vnew_title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_view, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_view, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_view, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.vnew_active)
                        @Html.ValidationMessageFor(model => model.vnew_active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_option, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.vnew_option)
                        @Html.ValidationMessageFor(model => model.vnew_option, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_datecreate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_datecreate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_datecreate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_dateupdate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_dateupdate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_dateupdate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.user_id, "user_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnews_des, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnews_des, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnews_des, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vnew_img, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vnew_img, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vnew_img, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
