@model IEnumerable<Model.EF.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vnew_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_view)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_datecreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_dateupdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnews_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vnew_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_view)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_datecreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_dateupdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnews_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vnew_img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vnew_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.vnew_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vnew_id })
        </td>
    </tr>
}

</table>
