@model Model.EF.Editor

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_fullname)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_sex)
        </dd>

        <dt>
            Facebook
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_fb)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_phone)
        </dd>

        <dt>
            Lần sửa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_time)
        </dd>

        <dt>
            Giới thiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_intro)
        </dd>

        <dt>
            sở thích
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_interests)
        </dd>

        <dt>
            Độ hăng hái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_enthusiasm)
        </dd>

        <dt>
            Zalo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_zalo)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_active)
        </dd>

        <dt>
            Vai trò
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_status)
            @if(Model.editor_status == 1)
            {
                @:Xem sét
            }else if(Model.editor_status == 2)
            {
                @:Đã duyệt
            }else if (Model.editor_status == 3)
            {
                @:Không duyệt
            }
        </dd>

        <dt>Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_name)
        </dd>

    </dl>
</div>
<hr />
<div>
    <a href="/Admin/EditorsAdmin/WatchLightning?id=@Model.editor_id" class="btn btn-primary">Đang xem sét</a>
    <a href="/Admin/EditorsAdmin/NoPass?id=@Model.editor_id" class="btn btn-danger">Không duyệt</a>
    <a href="/Admin/EditorsAdmin/Pass?id=@Model.editor_id" class="btn btn-success">Duyệt</a>
</div>

