@model IEnumerable<Model.EF.Editor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Member’s performance</h5>
            @Html.ActionLink("Thêm ", "Create")
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">

                <table class="table">
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Giới tính
                        </th>
                        
                        <th>
                            trạng thái
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            Tên
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.editor_fullname)
                            </td>
                            <td>
                                @if(item.editor_sex == true)
                                {
                                    @:Nam
                                }
                                else
                                {
                                    @:Nữ
                                }
                            </td>
                            <td>
                                @if(item.editor_active == true)
                                {
                                    @:Hoạt động
                                }
                                else
                                {
                                    @:Ngừng hoạt động
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.editor_status)
                                @if(item.editor_status == 2)
                                {
                                    @:Duyệt
                                }
                                else if(item.editor_status == 3)
                                {
                                    @:Không duyệt
                                }else if(item.editor_status == 1)
                                {
                                    @:Xem xét
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.user_name)
                            </td>
                            <td>
                                @Html.ActionLink("sửa", "Edit", new { id = item.editor_id }) |
                                @Html.ActionLink("Chi tết", "Details", new { id = item.editor_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.editor_id })
                            </td>
                        </tr>
                    }

                </table>


            </div>
        </div>
    </div>
</div>
