@model IEnumerable<Model.EF.Editor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Member’s performance</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0 without-header">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                    <div class="d-inline-block">
                                                        <h6>Shirley Hoe</h6>
                                                        <p class="text-muted m-b-0">Sales executive , NY</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="f-w-700">$78.001<i class="fas fa-level-down-alt text-c-red m-l-10"></i></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                    <div class="d-inline-block">
                                                        <h6>James Alexander</h6>
                                                        <p class="text-muted m-b-0">Sales executive , EL</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="f-w-700">$89.051<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                    <div class="d-inline-block">
                                                        <h6>Shirley Hoe</h6>
                                                        <p class="text-muted m-b-0">Sales executive , NY</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="f-w-700">$89.051<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                    <div class="d-inline-block">
                                                        <h6>Nick Xander</h6>
                                                        <p class="text-muted m-b-0">Sales executive , EL</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="f-w-700">$89.051<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.editor_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_fb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_interests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_enthusiasm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_zalo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.editor_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_fb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_intro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_interests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_enthusiasm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_zalo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editor_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.editor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.editor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.editor_id })
        </td>
    </tr>
}

</table>
